h1 {
   text-align: center;
   color: darkblue;
   background-color: azure;
   font-size: 50px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    background-color: white ;
    border: 2px solid rgb(74, 162, 195);
    border-radius: 20px;
    padding:10px;
    text-align:center;
    color: deepskyblue;
}
h2 {
    color: darkblue;
}
.links {
    display:flex;
    justify-content:center ;
    width: 100%;
    flex-direction: column;
    gap: 20px;

}